/* Стили */

/* логотип */
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}
.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #000000;
}
/* Меню в шапке */
ul > .nav-menu-item{
    list-style: none ;
    
}
.nav-menu-item > a{
   text-decoration: none;
}
.nav-menu-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.nav-menu-item :hover,
.nav-menu-item :focus {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
/* Стили для портфолио */
main{
    width: 1600px;
}
.portfolio{
    width: 1170;
}
.photos {
    display: flex; 
    flex-wrap: wrap;
    margin-top: 34px;
    padding-left: 215px;
}
.photos-items{
    margin-left: 30px;
    margin-bottom: 30px;
    list-style: none;
}
.photos-title{
    margin-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;
}
.photos-text {
    padding-left: 24px;
    padding-bottom: 20px;
}