/* Стили */
/* roboto regular bold medium black  */
:root{
    --accent-color: #2196F3;
    --main-font: 'Roboto',
    sans-serif;
    --secondary-font: 'Raleway',
    sans-serif;
}
body{
    font-family:var(--main-font);
    color: #757575;
}
.item {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ======== логотип ======== */

.logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.logo-theme-light{
    color: #000000;
}
.logo-theme-dark{
    color: #FFFFFF;
}

/* ====== Меню в шапке ====== */


.nav-menu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;    
    letter-spacing: 0.02em;
    color: #212121;
}
.contacts-header-link{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #757575; 
}
.nav-menu-link:hover,
.nav-menu-link:focus,
.contacts-header-link:hover,
.contacts-header-link:focus{
    color: var(--accent-color);
}

/* ====== Hero =====*/

.hero{
    background: #2F303A;
    
}
.main-title{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height:1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero-button{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.363;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    height: 50px;
}

/* =========== Footer======== */
.page-footer{
    background: #2F303A;
}
.address-text{
  
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.contacts-footer-link{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contacts-footer-link:hover,
.contacts-footer-link:focus{
    color: var(--accent-color)
}